
:root {
   --bs-primary: #2954a1 !important;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

.btn {
    font-weight: 600;
    transition: .5s;
}
.btn-square {
    width: 32px;
    height: 32px;
}
.btn-sm-square {
    width: 34px;
    height: 34px;
}
.btn-md-square {
    width: 40px;
    height: 40px;
}
.btn-lg-square {
    width: 46px;
    height: 46px;
}
.btn-xl-square {
    width: 56px;
    height: 56px;
}
.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #586c91;
    border: none;
}

.btn.btn-primary:hover {
    background: #2c3e50;
    color: #ffffff;
}

.btn.btn-social {
	color: #fff;
    background-color: #26457d;
    border-color: #26457d;
}

.btn.btn-light:hover {
    color: #ffffff;
    background: #586c91;
}

.pt-6 {
    padding-top: 60px;
}
.ps-6 {
    padding-left: 60px;
}
.pe-6 {
    padding-right: 60px;
}
.pb-6 {
    padding-bottom: 60px;
}
.sub-title {
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 700;
    font-size: 22px;
}
.fontligt {
    font-size: 14px;
}

/*----------------------------------------------------------------------*/
/*----------[ Navbar Start ]----------*/
.nav-section {
    position: relative;
}
.nav-section .navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    right: calc(40px - 100%);
    transform: translateY(-50%);
    z-index: 99;
}
.navbar.navbar-light {
    background: transparent;
    width: 100%;
}
.navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navbar-nav .nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    
}
.navbar-nav .nav-link span {
    width: 40px; 
    height: 40px;
    margin-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--bs-body);
    transition: 0.5s;
}
.nav-section .navbar .navbar-nav .nav-item {
    height: 40px;
    padding: 0;
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, .08);
    background: var(--bs-white);
    color: var(--bs-body);
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
}
.nav-section .navbar .navbar-nav .nav-item:hover {
    margin-right: calc(100% + 40px);
    color: var(--bs-primary); 
	text-shadow: 0 0 6px #00bfff;
}
/*----------------------------------------------------------------------*/
/*----------[ HeaderCarousel Start ]----------*/
.page-headerBlogs {
    /* background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-2.jpg) center center no-repeat; */
    background:  url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
	height: 500px;
}
.glowblock { text-shadow: 0 0 6px #00bfff;}
/*----------------------------------------------------------------------*/
/*----------[ EducationExparience Start ]----------*/
.alexcard-content .alexcard-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, .03);
    transition: 0.5s;
    z-index: 1;
}
.alexcard-content .alexcard-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}
.alexcard-content .alexcard-item::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 50%;
    left: 0;
    padding: 0;
    transform: translateY(-50%);
    border: 100px solid;
    border-color: var(--bs-light) transparent var(--bs-light) var(--bs-light);
    z-index: -1;
}
.alexcard-content .alexcard-item::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 100px solid;
    border-color: var(--bs-light) var(--bs-light) var(--bs-light) transparent;
    z-index: -1;
}
/*----------------------------------------------------------------------*/
/*----------[ Facts Start ]----------*/
.factico-neon {
  color: #c0c0c0;
  background: linear-gradient(145deg, #f8f8f8, #b0b0b0, #e0e0e0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 5px #ffffff,
    0 0 10px #b0b0b0,
    0 0 20px #9e9e9e,
    0 0 30px #cccccc;
  transition: all 0.5s ease-in-out;
}
.factico-neon:hover {
  text-shadow:
    0 0 10px #ffffff,
    0 0 20px #e0e0e0,
    0 0 40px #bfbfbf,
    0 0 80px #ffffff;
}
 .fact-icon {
     width: 120px;
  height: 120px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: #121143;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 5; 
   box-shadow:  inset 0px 2px 20px 0px rgb(0 0 0);
}
.fact-content .fact-item {
    position: relative;
    /* overflow: hidden; */
    box-shadow: 0 0 30px rgba(0, 0, 0, .03);
    transition: 0.5s;
    z-index: 1;
}
.fact-content .fact-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}
.fact-content .fact-item::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 50%;
    left: 0;
    padding: 0;
    transform: translateY(-50%);
    border: 100px solid;
    border-color: var(--bs-light) transparent var(--bs-light) var(--bs-light);
    z-index: -1;
}
.fact-content .fact-item::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 100px solid;
    border-color: var(--bs-light) var(--bs-light) var(--bs-light) transparent;
    z-index: -1;
}
/*----------------------------------------------------------------------*/